<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lz.com.kit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".paging.PagingActivity"></activity>
        <activity android:name=".aac.MvvmActivity" />
        <activity android:name=".LongImageActivity" />
        <activity android:name=".PermissionActivity" />
        <activity android:name=".PageRecyclerViewActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScrollViewActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".IntervalActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".IocActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".CitySelectActivity" />
        <activity android:name=".TitleActivity" />
        <activity android:name=".TablayoutActivity" />
        <activity android:name=".BannerActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".mvp.MvpActivity" />
        <activity android:name=".StatueActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ShopCategoryActivity" />
    </application>

</manifest>